#header {
    background-color: rgb(255, 255, 255);
    border-top: 8px solid #0d6efd;
}


.text-lightblue {
    color: rgb(0, 0, 0);
}

.text-lightblue:hover,.text-lightblue:focus{
    color:#0d6efd;
}
